    <div class="footer <% if(theme === "light"){ %>footer-t2<% } %>">
        <p>© 2021 Partha Sa</p>
    </div>
 
    <!-- external JS  -->
    <script src="js/scripts.js"></script>
    
    <!-- Font Awesome-JS -->
    <script src="https://kit.fontawesome.com/fc87503880.js" crossorigin="anonymous"></script>
</body>
</html>